<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partialls/head') %>
        <link rel="stylesheet" href="/stylesheets/style-cart.css">
    </head>
    <body>
        <%- include('partialls/header') %>
        <main class="cart-main-container">
            <section class="title">
                <h2 class="cart-title">
                    Tu carrito de compras
                </h2>
            </section>
            <% for (let i = 0; i < 3 ; i++){ %>
                <%- include('partialls/cart-item') %> 
            <% } %>
            <section class="flex buttons-return-continue">
                    <input class="b-return" type="button" name="return" value="SEGUIR COMPRANDO">
                    <input class="b-continue" type="button" name="continue" value="CONTINUAR">
            </section>
        </main>
        <%- include('partialls/footer') %>
    </body>
</html>