<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style-cart.css">
    <title>Tu carrito</title>
</head>
<body>
    <header>
        <button name="menu"><i class="fas fa-bars"></i></button>
        <h1>Regalá algo rico, podés programar tu pedido</h1>
        <nav class="nav-bar">
            <ul class="nav-menu-list">
                <li>Productos</li>
                <li>Catering</li>
                <li>Login</li>
            </ul>
        </nav>
        <img class="img-cart" src="/images/cart.png" alt="Imagen de carrito de comprar">
        <img class="img-logo" src="/images/vector-logo.png" alt="Logo de cupcake">
    </header>
    <main class="cart-main-container">
        <h2 class="cart-title">
            Tu carrito
        </h2>
        <article class="flex">
            <div class="cart-item-img">
                    <a href="https://google.com.ar" target="_blank">
                        <img src="https://d1uz88p17r663j.cloudfront.net/original/6383606c9b54e782cc49dbccede9d9f6__0000s_0019_06_-_Torta_de_Manzana.jpg" alt="Una imagen cualquiera" width="50px" height="50px">
                    </a>
            </div>
            <div class="cart-item-name"> 
                <p><a href="">Torta de Manzana</a></p>
            </div>
            <div class="cart-item-quantity flex">
                <button class="cart-quantity-button">-</button>
                <p>10</p>
                <button class="cart-quantity-button">+</button>
            </div>
            <div class="cart-item-price">
                <p>$ 1.000</p>
            </div>
        </article>
        <article class="flex">
            <div class="cart-item-img">
                    <a href="https://google.com.ar" target="_blank">
                        <img src="https://d1uz88p17r663j.cloudfront.net/original/6383606c9b54e782cc49dbccede9d9f6__0000s_0019_06_-_Torta_de_Manzana.jpg" alt="Una imagen cualquiera" width="50px" height="50px">
                    </a>
            </div>
            <div class="cart-item-name"> 
                <p><a href="">Torta de Manzana</a></p>
            </div>
            <div class="cart-item-quantity flex">
                <button class="cart-quantity-button">-</button>
                <p>10</p>
                <button class="cart-quantity-button">+</button>
            </div>
            <div class="cart-item-price">
                <p>$ 1.000</p>
            </div>
        </article>
        <article class="flex">
            <div class="cart-item-img">
                    <a href="https://google.com.ar" target="_blank">
                        <img src="https://d1uz88p17r663j.cloudfront.net/original/6383606c9b54e782cc49dbccede9d9f6__0000s_0019_06_-_Torta_de_Manzana.jpg" alt="Una imagen cualquiera" width="50px" height="50px">
                    </a>
            </div>
            <div class="cart-item-name"> 
                <p><a href="">Torta de Manzana</a></p>
            </div>
            <div class="cart-item-quantity flex">
                <button class="cart-quantity-button">-</button>
                <p>10</p>
                <button class="cart-quantity-button">+</button>
            </div>
            <div class="cart-item-price">
                <p>$ 1.000</p>
            </div>
        </article>
        <article class="flex">
            <div class="cart-item-img">
                    <a href="https://google.com.ar" target="_blank">
                        <img src="https://d1uz88p17r663j.cloudfront.net/original/6383606c9b54e782cc49dbccede9d9f6__0000s_0019_06_-_Torta_de_Manzana.jpg" alt="Una imagen cualquiera" width="50px" height="50px">
                    </a>
            </div>
            <div class="cart-item-name"> 
                <p><a href="">Torta de Manzana</a></p>
            </div>
            <div class="cart-item-quantity flex">
                <button class="cart-quantity-button">-</button>
                <p>10</p>
                <button class="cart-quantity-button">+</button>
            </div>
            <div class="cart-item-price">
                <p>$ 1.000</p>
            </div>
        </article>
    </main>
    <footer>
    </footer>
</body>
</html>