<!DOCTYPE html>
<head lang="es">
	<%- include('partialls/head') %> 
</head>
<body>
	<%- include('partialls/header') %>
	<main>
            <section class="products">
                <% for(let i = 0; i < 5; i++) { %> 
                    <%- include('partialls/product') %>
                <% } %>
            </section>
        </main>
        <%- include('partialls/footer') %>
    </body>
</html>