<!DOCTYPE html>
<head lang="es">
	<%- include('partialls/head') %> 
</head>
<body>
	<%- include('partialls/header') %>
	<main>
            <section class="products">
                <article class="item">                
                    <img src="/images/cake-frutilla.jpeg" alt="Tarta de frutillas" >
                    <div class="description-item">
                        <p class="price">$1.000</p>
                        <h4 class="description">Tarta de frutillas y crema</h4>
                    </div>
                </article><article class="item">                
                    <img src="/images/cake-frutilla.jpeg" alt="Tarta de frutillas" >
                    <div class="description-item">
                        <p class="price">$1.000</p>
                        <h4 class="description">Tarta de frutillas y crema</h4>
                    </div>
                </article>                
                <article class="item">                
                    <img src="/images/cake-frutilla.jpeg" alt="Tarta de frutillas" >
                    <div class="description-item">
                        <p class="price">$1.000</p>
                        <h4 class="description">Tarta de frutillas y crema</h4>
                    </div>
                </article>
                <article class="item">                
                    <img src="/images/cake-frutilla.jpeg" alt="Tarta de frutillas" >
                    <div class="description-item">
                        <p class="price">$1.000</p>
                        <h4 class="description">Tarta de frutillas y crema</h4>
                    </div>
                </article>                
                <article class="item">                
                    <img src="/images/cake-frutilla.jpeg" alt="Tarta de frutillas" >
                    <div class="description-item">
                        <p class="price">$1.000</p>
                        <h4 class="description">Tarta de frutillas y crema</h4>
                    </div>
                </article>
                <article class="item">                
                    <img src="/images/cake-frutilla.jpeg" alt="Tarta de frutillas" >
                    <div class="description-item">
                        <p class="price">$1.000</p>
                        <h4 class="description">Tarta de frutillas y crema</h4>
                    </div>
                </article>
            </section>
        </main>
        <%- include('partialls/footer') %>
    </body>
</html>