<!DOCTYPE html>
<html lang='es'>
    <head>
        <%- include('../partials/head') %>
        <link  href='/stylesheets/style-login&register.css' rel='stylesheet'>
        
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class='panel'>
                <section class='panel-heading'>
                    <h2 class='panel-title'>Creá tu cuenta</h2>
                    <!--<div class='buttons'>
                        <button class='gmail' name='gmail'><i class='fab fa-google-plus-g fa-2x'></i></button>
                        <button name='facebook'><i id='fb' class='fab fa-facebook-square fa-2x'></i></button>
                    </div>-->
                </section>
                <section class='panel-body'>
                    <% if (typeof errors != 'undefined') { %>
                        <p style = 'color:red'>ERROR</p>
                        <ul>
                            <% for (let i= 0; i < errors.length; i++) { %>
                                <li>
                                    <%=errors[i].msg%>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                    <form class ='formulario' action='/user/login' method='POST'>
                        <fieldset>
                            <p class='form-group'>
                                <input class='form-control email' placeholder='tuemail@ejemplo.com' name='email' type='text'>
                            </p>
                            <p class='form-group'>
                                <input class='form-control' placeholder='Password' name='password' type='password'>
                            </p>
                                <label>
                                    <input class='remember' name='remember' type='checkbox' value='Recordarme'> Recordarme
                                </label>
                            <p>
                                <input class='btn-submit'  type='submit' value='Login'>
                            </p>
                        </fieldset>
                    </form>
                </section>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>