body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 150px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

body {
  margin: auto;
  font-family: "Calibri","Roboto","arial";
  font-size: 15px;
  width: 100%;
	color: grey;
}

main {
  position: relative;
}

.banner {
  height: 330px;
  background-color: rgb(245, 238, 238);
  background-image: url("/images/banner2.jpg");
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
}

.word {
  border: 7px;
  border-style: double;
  border-color: rgba(235, 31, 99, 0.479);
  position: absolute;
  left: 73%;
  margin-top: 5%;
  box-sizing: border-box;
}
.word p { 
  text-align: center;
  color: grey;
  font-size: 40px;
  padding: 10px 3px;
}

.optionBanner{
  border-style: none;
  background-color:rgb(245, 238, 238);
  position: relative;
  right: -67%;
  top: -20px;
}

.optionBanner:hover{
  border-style: none;
  background-color:rgb(245, 238, 238);
  color: rgb(241, 123, 143);
}