.ancla:link {
    text-decoration: none;
    color: black;
}
.ancla:visited {
    color: black;
}
.products {
    display: flex;
    flex-direction: column;
}
.products .item {
    margin: 0px 15px 20px 15px;
    background-color: rgb(250, 243, 248);
}
.description-item {
    padding: 0% 5%;
}
h4 {
    font-size: 125%;
    color: rgb(197, 94, 158);
    margin: 4% 0%;
}
.info{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.price {
    font-size: 132%;
    font-weight: bold;
    color: rgb(204, 32, 138);
    margin: 0%;
}
.category {
    margin: 3% 0%;
    display: inline-block;
    font-size: 100%;
    margin: 0% 10%;
}