.title-main {
    font-size: 1.5em;
    color: rgb(240, 75, 185);
    text-align: center;
    margin: 3% 0%;
}
fieldset {
    border: none;
    margin: auto 3%
}
.inputs{
    border: solid rgb(236, 201, 225) 1px;
    padding: 1% 5%;
    border-radius: 5px;
}
.submit{    
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(29, 172, 29);
    color: honeydew;
    box-shadow: 2px 2px 5px rgb(211, 209, 209);
}
.submit:hover{
    background-color: #4fd44a;
}
.img-now {
    margin-top: 10px;
    height: 35vh;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(211, 209, 209);
}
.inputs  p {
    margin-top: 1%;
}
.form-control{
    width: 100%;
    padding: 6px 12px;
    line-height: 1.428571429;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(211, 209, 209);
  }
.error{
    margin-top: 3%;
    margin-left: 2%;
}
.error p {
    font-size: 17px;
}
.errorLi {
    margin-top: 0.5%;
    font-size: 14px;
    color: grey;
}
@media (min-width: 361px){
.inputs  p input {
    margin-top: 1%;
}
textarea{
    margin-top: 1%;
}
}