

.cart-main-container{
    position: relative;
    margin: 2em;
    border-radius: 1em; 
    background-color: rgba(245, 238, 238, 0.904);
}

.title{
    position: relative;
    background-color: none;
}

.detail{
    align-self: center;
    padding: 1%;
    margin: 1em auto;
    width: 75%;
    border: 3px solid white;
}

.cart-title {
    padding: 0.7% 3%;
}

.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 15%;
}

.cart-item-img {
    width: 35%;
    display: flex;
    justify-content: center;
}

 img{
    width: 70%;
    border-radius: 5%;
}

.cart-container-name-quantity{
    width: 70%;
    display: flex;
    position: relative;
}

.tittleCompra {
    position: absolute;
    top: -3em;
    font-size: 1.5em;
}

.cart-item-quantity-flex {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    text-align: center;
}

.quantity{
    width: 15%;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
    font-size: 1.5em;
    height: 100%;
}

.cart-quantity-button{
    width: 2em;
    height: 2em;
    margin: 0% 2%;
    line-height: 0%;
}

.cart-item-price{
    font-size: 2em;
}

.cart-total{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    font-weight: bold;
}

/*Botones Volver y Continuar*/

.buttons-return-continue{
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 0;
    height: 4em;
    width: 100%;
}

.b-return{
    margin-right: 1%;
    background-color: rgb(241, 123, 143);
    color: honeydew;
    border-radius: 5px;
    border: 1px solid rgba(241, 113, 134, 0.76);
    text-align: center;
    width: 157px;
}

.b-continue{
    margin-left: 1%;
    background-color: rgb(10, 116, 10);
    color: honeydew;
    border: 1px solid rgb(4, 82, 4);
    border-radius: 5px;
    text-align: center;
    width: 157px;
}


