.ancla:link {
    text-decoration: none;
    color: black;
}
.ancla:visited {
    color: black;
}
.products {
    display: flex;
    flex-direction: column;
}
img {
    border-top-left-radius: 15px;
    border-top-right-radius:15px;   
}
.products .item {
    margin: 3%;
    background-color: rgb(250, 243, 248);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(211, 209, 209);
}
.description-item {
    padding: 0% 5%;
}
h4 {
    font-size: 1.4em;
    color: rgb(197, 94, 158);
    margin: 4% 0%;
}
.info{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.price {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(204, 32, 138);
    margin: 0%;
}
.category {
    font-size: 1em;
    margin: 0% 10%;
}
@media (min-width: 361px){
    .products {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .products .item {
        width: 42%;
    }
    h4 {
        font-size: 1.2em;
    }
    .price {
        font-size: 1.4em;
    }
    .category {
        font-size: 0.9em;
        margin: 0% 7%;
    }
}
@media (min-width: 769px){
    .products .item {
        margin: 3% 1%;
    }
    .products .item {
        width: 30%;
    }
}