<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/stylesheets/style-cart.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main class="cart-main-container">
            <section class="title">
                <h2 class="cart-title">
                    Tu carrito de compras
                </h2>
            </section>
            <% for (let i = 0; i < 6 ; i++){ %>
                <%- include('../partials/cart-item') %> 
            <% } %>
            <section>
                <form class="flex buttons-return-continue">
                    <input class="b-return" type="button" name="return" value="AGREGAR PRODUCTO">
                    <input class="b-continue" type="button" name="continue" value="FINALIZAR COMPRA">
                </form>
            </section>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>