<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head') %>
        <link href="/stylesheets/style-new-product-and-edit-product.css" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class='error'> 
            <% if (typeof errors != 'undefined') { %>
                <p style = "color:red">Error al cargar nuevo producto</p>
                <ul>
                    <% for (let i= 0; i < errors.length; i++) { %>
                        <li class='errorLi' >
                            <%=errors[i].msg%>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>
        <main>
            <h2 class="title-main">Cargar un nuevo producto</h2>
            <form class="formRegister" action="/product/newProduct" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <section class="inputs">
                        <p>
                            <label for="name">Nombre del producto: </label>
                            <input class="form-control" type="text" id="name" name="name" placeholder="Torta de manzana">
                        </p>
                        <p>
                            <label for="price">Precio:</label>
                            <input class="form-control" type="number" id="price" name="price" placeholder="1000">
                        </p>
                        <p>
                            <label for="category">Categoría: </label>
                            <select class="form-control" name="category" id="category">
                                <option value="">-Elegir-</option>
                                <option value="Clásica">Clásica</option>
                                <option value="Decorada">Decorada</option>
                            </select>
                        </p>
                        <p>
                            <label for="image">Imagen: </label>
                            <input class="form-control" type="file" id="image" name="image">
                        </p>
                        <p>
                            <label for="description">Descripción:</label><br>
                            <textarea class="form-control" id="description" name="description" placeholder="Agregar descripción del producto"></textarea>
                        </p>
                    </section>
                    <p>
                        <input class="submit" type="submit" value="Agregar producto">
                    </p>
                </fieldset>
            </form>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>