<!DOCTYPE html>
<head>
</head>
<body>
    <ul>
        <% for(let i = 0; i < productos.length; i++) { %> 
            <li><%= productos[i].name %></li>
            <li><%= productos[i].description  %></li>
        <% } %>
    </ul>
</body>
<footer>

</footer>