<header>
    <button name="menu"><i class="fas fa-bars"></i></button>
    <h1>Regalá algo rico, podés programar tu pedido</h1>
    <nav class="nav-bar">
        <ul class="nav-menu-list">
            <li><a href="/product">Productos</a></li>
            <li>Catering</li>
            <li><a href="/user/login">Login</a></li>
        </ul>
    </nav>
    <img class="img-cart" src="/images/cart.png" alt="Imagen de carrito de comprar">
    <img class="img-logo" src="/images/vector-logo.png" alt="Logo de cupcake">
    
</header>