<article class="item">                
    <img src="/images/cake-frutilla.jpeg" alt="Tarta de frutillas" >
    <div class="description-item">
        <i class="fas fa-truck"></i>
        <p class="price">$1.000</p>
        <h4 class="description">Tarta de frutillas y crema</h4>
    </div>
</article>