<footer>
    <div class="contacto">
        <p class="p-footer">Dónde encontrarnos</p>
        <ul class="ul-footer">
            <li>E-mail: <a href="mailto:someone@example.com">lazuccheriera-info@gmail.com.ar</a></li>
            <li>Télefono: <a href="tel:+541131158094">4750-5050</a></li>
            <li>Dirección: José Luis Cantil 4501, Devoto</li>
        </ul>
    </div>
    <div class="socialRed">
        <p class="p-footer">Redes Sociales</p>
        <i class="fab fa-instagram fa-2x"></i>
        <i id="fb" class="fab fa-facebook-square fa-2x"></i>
    </div>
    <div class="atencion">
        <p class="p-footer">Horarios de atención</p>
        <ul class="ul-footer">
            <li>Lunes a Viernes 9 a 13hs. y 16 a 19hs.</li>
            <li>Sábados 9 a 13hs</li>
            <li>Domingos 8 a 11 hs.</li>
        </ul>
    </div>
</footer>