<header>
    <h1><a href="/">La zuccheriera ~ Regalá algo rico</a></h1>
    <nav class="nav-bar">
        <label for="touch" class="button-menu"><i class="fas fa-bars"></i></label>
        <input type="checkbox" name="menu" id="touch">
        <ul class="nav-menu-list">
            <% if (user) { %>
                <li><a href="/user/profile">Mi Perfil</a></li>
                <% if (user.category_id == 1) { %> 
                    <li><a href="/product/newproduct">Nuevo Producto</a></li>
                <% } %>
                <li><a href="/product">Listado de Productos</a></li>
                <li><a href="/user/logout">Cerrar sesión</a></li>
            <% } else { %>
                <li><a href="/product">Productos</a></li>
                <li><a href="/user/register">Registrarse</a></li>
                <li><a href="/user/login">Ingresar</a></li>
            <% }  %>
        </ul>
    </nav>
    <div class="nav-bar-img">
        <a class='flex' href="/cart"><img class="img-cart" src="/images/cart.png" alt="Imagen de carrito de comprar"></a>
        <a class='flex' href="/"><img class="img-logo" src="/images/vector-logo.png" alt="Logo de cupcake"></a>
    </div>
    
</header>